<div class="page-header">
  <%= link_to stations_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

  <h1><%= @station.name.titleize %></h1>
</div>
<% if @station.favorite?(current_user) %>
  <span class="glyphicon glyphicon-heart"></span>
<% end %>

<dl class="dl-horizontal">
  <dt style="text-align: left;">Stream Conditions:</dt>
  <br/>
  <br/>

  <dt>Latitude:</dt>
  <dd><%= fmt_coord number_with_precision(@station.latitude, precision: 4) %></dd>
  <dt>Longitude:</dt>
  <dd><%= fmt_coord number_with_precision(@station.longitude, precision: 4) %></dd>
  <br/>
</dl>
<div style="clear:both"></div>

<!-- Google Maps -->
<div align="center" style='width: 100%; margin-bottom: 100px;'>
  <div id="map" style='width: 65em; height: 30em;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({provider: {}, internal: {id: 'map'}}, function() {
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10)
  });
</script>
<!-- End Google Maps -->

</dl>

<div>

  <h3>Flow Reading</h3>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Date</th>
        <th>Flow Rate</th>


      </tr>
      </thead>
      <tbody>
      <% @station.flow_readings.last(10).each do |reading| %>
        <% if @station.flow_readings.any? %>
          <tr>
            <td><%= reading.date_time.in_time_zone.strftime("%A %e %B %Y,%I:%M:%S %Z") %></td>
            <td><%= format_flow_rate reading.flow_rate %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <br/>
    <br/>

    <h3>Forecast:</h3>
    <br/>

    <div style="width: 100%; clear: both; margin-left: 2em;">
      <% @dates.each do |date| %>
        <% forecast = @station.forecast_at(date) %>
        <% if @station.forecasts.any? %>
          <div style="width: 220px; margin-left: 1em; margin-bottom: 2em; padding-bottom: 1em; padding-left: 1em; padding-right: 1em; float: left; border-style: dotted; border-width: 1px; border-color: #dddddd">
            <dd style="margin-bottom: 10px; text-align: center"><h4><strong><%= forecast.date.strftime("%A, %B %e") %></strong></h4></dd>
            <dd><strong>High:</strong> <%= number_with_precision(forecast.maxtemp, precision: 2) %> &deg;F</dd>
            <dd style="margin-bottom: 10px"><strong>Low:</strong> <%= number_with_precision(forecast.mintemp, precision: 2) %> &deg;F</dd>
            <dd style="margin-bottom: 6px; width: 86%;"><%= forecast.summary %></dd>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

