<div class="page-header">
  <%= link_to stations_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_station_path(@station), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>

  <h2><%= @station.name %></h2>
</div>

<dl class="dl-horizontal">
  <dt style="text-align: left;">Stream Conditions:</dt>
  <dd>One Thousand cfs</dd>
  <br/>

  <div>
    <dt style="text-align: left;">Current Weather:</dt>
    <dd id="w_summary"><%= @station.current_summary %></dd>
    <dd id="w_temperature"><%= number_with_precision(@station.current_temp, precision: 2) %>&deg; F</dd>
  </div>
  <br/>

  <div style="float: left">
    <dt style="text-align: left;">Forecast:</dt>
  </div>

    <% @dates.each do |date| %>
      <% forecast = @station.forecast_at(date) %>
      <dd><strong><%= forecast.date.strftime("%A, %B %e") %></strong></dd>
      <dd><%= forecast.summary %></dd>
      <dd>High: <%= number_with_precision(forecast.maxtemp, precision: 2) %>&deg; F</dd>
      <dd>Low: <%= number_with_precision(forecast.mintemp, precision: 2) %>&deg; F</dd>
    <% end %>
</dl>


<div style="clear:both"></div>
<br/>
<br/>

<!-- Google Maps -->
<div align="center" style='width: 100%; margin-bottom: 100px;'>
  <div id="map" style='width: 65em; height: 30em;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({provider: {}, internal: {id: 'map'}}, function() {
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10)
  });
</script>
<!-- End Google Maps -->
<br/>
<br/>
