<div class="page-header">
  <%= link_to new_river_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New River
  <% end %>
  <h1>Listing rivers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Station</th>
            <th>Cfs</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @rivers) do |river| %>
            <td><%= river.station %></td>
            <td><%= river.cfs %></td>
            <td><%= link_to 'Show', river %></td>
        <td><%= link_to 'Edit', edit_river_path(river) %></td>
        <td><%= link_to 'Destroy', river, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
